body{
    background-color: rgb(239, 243, 249);
}
.products-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.search-box{
    width: 400px;
    font-size: 20px;
    display: block;
    margin: 30px auto;
    padding: 0px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.search-box {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-box:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px yellow;
  }
  
  ::placeholder {
    color: #999;
  }
  