.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 65px;
}

.logo {
    height: 200px;
}

.link-container {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 10px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.link a {
    text-decoration: none;
    transition: color 0.3s;
}

.link a:hover {
    color: red;
}

.btnn-contaain {
    display: flex;
}

.username {
    font-size: 20px;
    display: block;
}

.logpout {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 19px;
    border-radius: 5px;
    background-color: #f44336;
    transition: background-color 0.3s, color 0.3s;
}

.logpout:hover {
    border: #f44336 solid 2px;
    background-color: yellow;
    
}

.hh{
    margin-left: 300px;
}
